body{
    background-image: url(/img/colombianaaa.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.trailer{
    background-color: rgb(73, 71, 71);
    display: flex;
    justify-content: space-around;
    text-align: center;
}