body{
    background-image: url(/img/netflix-.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
}
fieldset{
    color: white;
    background-color: black;
    margin-left: 40%;
    margin-right: 40%;
}
legend{
    color: white;
}